@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic);
/* line 4, ../sass/main.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 8, ../sass/main.scss */
.clear-fix:after {
  content: "";
  display: table;
  clear: both; }

/* line 19, ../sass/main.scss */
.module-container {
  position: relative;
  width: 940px;
  margin: 0 auto 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none; }

/* line 27, ../sass/main.scss */
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 30px;
  margin: 0.83em 0; }

/* line 35, ../sass/main.scss */
.temp-stuff-header {
  width: 100%;
  height: 214px;
  background-image: url(../img/temp-stuff-header.png);
  background-position: center top;
  background-repeat: no-repeat; }

/* line 43, ../sass/main.scss */
.user-query {
  z-index: 900;
  position: relative;
  top: 0;
  left: 45px;
  width: 850px;
  height: auto;
  padding: 50px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  font-size: 50px;
  text-shadow: 0px 2px 3px #00351d;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 50px 50px -50px black;
  -moz-box-shadow: 0 50px 50px -50px black;
  box-shadow: 0 50px 50px -50px black; }
  /* line 61, ../sass/main.scss */
  .user-query:before, .user-query:after {
    z-index: -1;
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px; }
  /* line 73, ../sass/main.scss */
  .user-query:before {
    background-color: #129a5f; }
  /* line 77, ../sass/main.scss */
  .user-query:after {
    background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 53, 29, 0.5)), color-stop(100%, rgba(0, 53, 29, 0)));
    background: -webkit-linear-gradient(bottom, rgba(0, 53, 29, 0.5), rgba(0, 53, 29, 0));
    background: -moz-linear-gradient(bottom, rgba(0, 53, 29, 0.5), rgba(0, 53, 29, 0));
    background: -o-linear-gradient(bottom, rgba(0, 53, 29, 0.5), rgba(0, 53, 29, 0));
    background: linear-gradient(bottom, rgba(0, 53, 29, 0.5), rgba(0, 53, 29, 0)); }
  /* line 81, ../sass/main.scss */
  .user-query .selection {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: #00351d;
    text-shadow: none; }
    /* line 88, ../sass/main.scss */
    .user-query .selection ul {
      z-index: 1000;
      position: absolute;
      display: none;
      left: 0;
      top: 0;
      list-style-type: none;
      color: white;
      font-size: 30px;
      padding: 0;
      background-color: #00351d;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;
      -webkit-box-shadow: 0 30px 30px -25px black;
      -moz-box-shadow: 0 30px 30px -25px black;
      box-shadow: 0 30px 30px -25px black; }
      /* line 104, ../sass/main.scss */
      .user-query .selection ul:before {
        position: absolute;
        display: block;
        content: "";
        top: -20px;
        left: 50%;
        margin-left: -15px;
        width: 0;
        height: 0;
        border-bottom: 20px solid #00351d;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent; }
      /* line 118, ../sass/main.scss */
      .user-query .selection ul li {
        padding: 5px 25px; }
        /* line 121, ../sass/main.scss */
        .user-query .selection ul li[data-selection="my-location"] {
          display: none; }
        /* line 125, ../sass/main.scss */
        .user-query .selection ul li.close {
          position: absolute;
          display: block;
          right: -8px;
          top: -8px;
          padding: 0;
          width: 30px;
          height: 30px;
          background-color: #00351d;
          background-image: url(../img/close-icon.png);
          background-position: center bottom;
          border: 1px solid #129a5f;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%;
          -webkit-box-shadow: -5px 5px 15px 0 rgba(0, 0, 0, 0.5);
          -moz-box-shadow: -5px 5px 15px 0 rgba(0, 0, 0, 0.5);
          box-shadow: -5px 5px 15px 0 rgba(0, 0, 0, 0.5); }
          /* line 140, ../sass/main.scss */
          .user-query .selection ul li.close:hover {
            background-position: center top; }
        /* line 145, ../sass/main.scss */
        .user-query .selection ul li:hover {
          background-color: #129a5f; }

/* line 154, ../sass/main.scss */
.white-out {
  z-index: 800;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8; }

/* line 167, ../sass/main.scss */
.shadow {
  width: 100%;
  height: 50px;
  clear: both;
  background-image: url(../img/block-shadow.jpg); }
  /* line 173, ../sass/main.scss */
  .shadow.top-shadow {
    background-position: center top; }
  /* line 177, ../sass/main.scss */
  .shadow.bottom-shadow {
    background-position: center bottom; }

/* line 184, ../sass/main.scss */
#map {
  z-index: 0;
  height: 700px !important;
  clear: both; }
  /* line 190, ../sass/main.scss */
  #map .leaflet-marker-icon[title="silver-fern-farms"] {
    background-image: url("../img/silver-fern-farms-marker.png") !important;
    background-size: cover !important;
    width: 50px !important;
    display: inline-block !important;
    padding: 128px 0 0 0 !important;
    height: 0px !important; }
    /* line 198, ../sass/main.scss */
    #map .leaflet-marker-icon[title="silver-fern-farms"]:hover, #map .leaflet-marker-icon[title="silver-fern-farms"]:focus {
      -webkit-transition: width 0.25s ease, left 0.25s ease, top 0.25s ease, padding 0.25s ease;
      -moz-transition: width 0.25s ease, left 0.25s ease, top 0.25s ease, padding 0.25s ease;
      -o-transition: width 0.25s ease, left 0.25s ease, top 0.25s ease, padding 0.25s ease;
      transition: width 0.25s ease, left 0.25s ease, top 0.25s ease, padding 0.25s ease;
      width: 70px !important;
      left: -10px;
      top: -25px;
      padding: 179px 0 0 0 !important; }
  /* line 208, ../sass/main.scss */
  #map .leaflet-popup .marker-title {
    display: none; }

/* line 213, ../sass/main.scss */
.expanded-modules-container {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 100%;
  height: auto; }
  /* line 219, ../sass/main.scss */
  .expanded-modules-container .expanded-module {
    position: relative;
    width: 33%;
    height: 400px;
    padding: 0 25px 25px 25px;
    float: left;
    overflow: hidden;
    text-decoration: none; }
    /* line 228, ../sass/main.scss */
    .expanded-modules-container .expanded-module:after {
      z-index: 1;
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 70px;
      bottom: 0;
      left: 0;
      background-image: url(../img/copy-fade.png); }
    /* line 240, ../sass/main.scss */
    .expanded-modules-container .expanded-module .image {
      position: relative;
      width: 143px;
      height: 190px;
      left: 50%;
      margin-left: -72px;
      background-size: cover;
      background-position: center center; }
      /* line 249, ../sass/main.scss */
      .expanded-modules-container .expanded-module .image:after {
        z-index: 1;
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url(../img/pin-image-block.png);
        background-position: center center; }
    /* line 263, ../sass/main.scss */
    .expanded-modules-container .expanded-module h2 {
      color: #129a5f; }
    /* line 267, ../sass/main.scss */
    .expanded-modules-container .expanded-module span {
      font-weight: 300;
      font-style: italic;
      font-size: 16px;
      color: #00351d; }
