#map{
	height: 500px;

	.leaflet-marker-icon{
		position: absolute;

		&:after{
			position: absolute;
			display: block;
			content: "HELLO";
			width: 50px;
			height: 25px;
			background-color: red;
		}
	}
}