@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic);

*, *:after, *:before {
	@include box-sizing(border-box);
}

.clear-fix:after {
	content: "";
	display: table;
	clear: both;
}

$gray: #999999;
$brand-green: #129a5f;
$dark-green: #00351d;
$col-shadow: #000;

.module-container{
	position: relative;
	width: 940px;
	margin: 0 auto 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: italic;
    font-size: 30px;
    margin: 0.83em 0;
}

.temp-stuff-header{
	width: 100%;
	height: 214px;
	background-image: url(../img/temp-stuff-header.png);
	background-position: center top;
	background-repeat: no-repeat;
}

.user-query{
	z-index: 900;
	position: relative;
	top: 0;
	left: 45px;
	width: 850px;
	height: auto;
	padding: 50px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	font-style: italic;
	text-align: center;
	font-size: 50px;
	@include text-shadow(0px 2px 3px $dark-green);
	@include border-radius(15px);
	@include box-shadow(0 50px 50px -50px $col-shadow);

	&:before, &:after{
		z-index: -1;
		position: absolute;
		display: block;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include border-radius(15px);
	}

	&:before{
		background-color: $brand-green;
	}

	&:after{
		@include background(linear-gradient(bottom, rgba($dark-green, 0.5), rgba($dark-green, 0)));
	}

	.selection{
		display: inline-block;
		position: relative;
		cursor: pointer;
		color: $dark-green;
		@include text-shadow(none);

		ul{
			z-index: 1000;
			position: absolute;
			display: none;
			left: 0; // offset for greensock tween
			top: 0; // offset for greensock tween
			list-style-type: none;
			color: white;
			font-size: 30px;
			padding: 0;
			background-color: $dark-green;
			@include transform(translateX(-50%));
			@include border-radius(5px);
			@include opacity(0); // offset for greensock tween
			@include box-shadow(0 30px 30px -25px $col-shadow);

			&:before{
				position: absolute;
				display: block;
				content: "";
				top: -20px;
				left: 50%;
				margin-left: -15px;
				width: 0; 
				height: 0;
				border-bottom: 20px solid $dark-green;
				border-left: 20px solid transparent; 
				border-right: 20px solid transparent;
			}

			li{
				padding: 5px 25px;

				&[data-selection="my-location"]{
					display: none; // will be displayed if user location can be found
				}

				&.close{
					position: absolute;
					display: block;
					right: -8px;
					top: -8px;
					padding: 0;
					width: 30px;
					height: 30px;
					background-color: $dark-green;
					background-image: url(../img/close-icon.png);
					background-position: center bottom;
					border: 1px solid $brand-green;
					@include border-radius(50%);
					@include box-shadow(-5px 5px 15px 0 rgba($col-shadow, 0.5));

					&:hover{
						background-position: center top;
					}
				}

				&:hover{
					//@include transition(background-color 1s ease);
					background-color: $brand-green;
				}
			}
		}
	}
}

.white-out{
	z-index: 800;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: white;
	@include opacity(0.8);
}

// --- SHADOW ---

.shadow{
	width: 100%;
	height: 50px;
	clear: both;
	background-image: url(../img/block-shadow.jpg);

	&.top-shadow{
		background-position: center top;
	}

	&.bottom-shadow{
		background-position: center bottom;
	}
}

// --- MAP ---

#map{
	z-index: 0;
	height: 700px !important;
	clear: both;

	//img[src*="http://a.tiles.mapbox.com/v3/marker/pin-l+333333.png"] {
	.leaflet-marker-icon[title="silver-fern-farms"]{
	    background-image: url("../img/silver-fern-farms-marker.png") !important;
	    background-size: cover !important;
	    width: 50px !important;
	    display:inline-block !important;
	    padding: 128px 0 0 0 !important;
	    height: 0px !important;

	    &:hover, &:focus{
	    	@include transition(width 0.25s ease, left 0.25s ease, top 0.25s ease, padding 0.25s ease);
	    	//position: relative;
	    	width: 70px !important;
	    	left: -10px;
	    	top: -25px;
	    	padding: 179px 0 0 0 !important;
	    }
	}

	.leaflet-popup .marker-title{
		display: none;
	}
}

.expanded-modules-container{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	width: 100%;
	height: auto;

	.expanded-module{
		position: relative;
		width: 33%;
		height: 400px;
		padding: 0 25px 25px 25px;
		float: left;
		overflow: hidden;
		text-decoration: none;

		&:after{
			z-index: 1;
			position: absolute;
			display: block;
			content: "";
			width: 100%;
			height: 70px;
			bottom: 0;
			left: 0;
			background-image: url(../img/copy-fade.png);
		}

		.image{
			position: relative;
			width: 143px;
			height: 190px;
			left: 50%;
			margin-left: -72px;
			background-size: cover;
			background-position: center center;

			&:after{
				z-index: 1;
				position: absolute;
				display: block;
				content: "";
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-image: url(../img/pin-image-block.png);
				background-position: center center;
			}
		}

		h2{
			color: $brand-green;
		}

		span{
			font-weight: 300;
			font-style: italic;
			font-size: 16px;
			color: $dark-green;
		}
	}




}